<!-- partials/editor/_footer.html -->

    <!-- JS lib vendor Angular & Bootsrap directives -->
    <script src="js/vendors/angular/angular.min.js"></script>
    <script src="js/vendors/angular/angular-messages.min.js"></script>
    <script src="js/vendors/angular/angular-cookies.min.js"></script>
    <script src="js/vendors/ui-router-0.2.15.js"></script>
    <script src="js/vendors/ui-bootstrap-tpls-0.14.2.js"></script>
    
    <!-- App init -->
    <script src="js/app/app.js"></script>

    <!-- Setting & constant for application -->
    <script src="js/app/constants.js"></script>

    <!-- Setup routes -->
    <script src="js/app/router.js"></script>
    
    <!-- Controllers -->
    <script src="js/controllers/previewCtrl.js"></script>
    
    <!-- Directives -->
    <script src="js/directives/rs-toolbar.js"></script>