<!-- partials/common/_block-1cell.html -->

<div class="col-md-4 <!-- @echo class_edit_flag --> <!-- @echo class_block_1cell -->">
    <h2 class="<!-- @echo class_block_title -->">Lorem ipsum dolor sit amet</h2>
    <div class="<!-- @echo class_block_content -->">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas leo sapien, egestas eu ante id, porttitor commodo est. Phasellus pellentesque luctus purus vel viverra. Morbi ornare pretium tempus. Proin a ullamcorper sem. In arcu ex, auctor id dui vel, tincidunt blandit neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer a venenatis purus. Sed posuere nisi eu mauris pharetra congue. Cras metus turpis, finibus id condimentum nec, pellentesque ut massa. Nunc tempus facilisis cursus.</p> 
    </div>
</div>