<!-- partials/common/_body.html -->
<article>
    <header class="<!-- @echo class_card_header -->">
        <!--=include ./_page-header.html -->
        <!--=include ./_page-header-block.html -->
    </header>

	<div class="<!-- @echo class_content_blocks -->">
		<div class="<!-- @echo class_content_blocks_table -->">
			<!--=include ./sections/_layout_1_block.html -->
			
			<!--=include ./sections/_layout_3_blocks.html -->
			
			<!--=include ./sections/_layout_2_blocks.html -->
		</div>
	</div>

	
    <footer class="<!-- @echo class_card_footer -->">
		<!--=include ./_page-footer.html -->
    </footer>
</article>


