<!-- partials/common/_body.html -->

<article>
    <header class="<!-- @echo class_card_header -->">
        <!--=include ./_page-header.html -->
        <!--=include ./_page-header-block.html -->
    </header>
	<main>
	    <div class="<!-- @echo class_content_blocks -->">
	        <div class="<!-- @echo class_content_blocks_table -->">            
                    <!-- No content -->
	        </div>
	    </div>
	</main>
    <footer class="<!-- @echo class_card_footer -->">
		<!--=include ./_page-footer.html -->
    </footer>
</article>


