<!DOCTYPE html>
<!-- @if pageType='editor' -->
<html ng-app="<!-- @echo application_name -->">
<!-- @endif -->
<!-- @if pageType='view' -->
<html>
<!-- @endif -->
    <head>
    	<!-- partials/common/_head-start.html -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        
        <!-- Bootstrap -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">