<div class="<!-- @echo class_footer_container --> mp-content">
	
	<div class="row">
		<div class=" col-sm-3 ">
			<div class="row">
				<div class="<!-- @echo class_footer_thubnail -->">
					<img width="120" src="uploads/logo.jpg" alt="Salamon Company" class="thumbnail">
				</div>
				<div class="col-xs-12 col-md-12 <!-- @echo class_footer_company_links_sm -->">
					<div class="btn-group-vertical">
						<a href="#" class="btn btn-default"><strong>Lern more</strong></a>
						<a href="#" class="btn btn-default">12 offer on-line</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 <!-- @echo class_footer_company_profile -->">
			<h2>Salamon Company S.A.</h2>
			<p class="<!-- @echo class_footer_location -->"><span class="glyphicon glyphicon-map-marker"></span> Warsaw</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis ante a eros mollis fermentum. Nulla id ex aliquam, auctor libero vitae, ultricies augue. Nam a dignissim nibh. Nunc iaculis vitae mauris non pellentesque. Integer leo diam, porta at lacinia ut, cursus at dui. Etiam condimentum massa id tortor tristique, sit amet accumsan felis luctus. Sed cursus, purus ac feugiat pellentesque, diam justo euismod tellus, vel imperdiet lorem est sit amet est. Duis id eleifend enim. Nullam eleifend, lacus ut porttitor venenatis, nulla nulla tristique tellus, eu dictum odio nisl eget tellus. Nullam ac urna ante. Morbi nulla ligula, malesuada non lorem consectetur, lobortis facilisis tellus. Ut congue tincidunt maximus.</p>
			
			<div class="col-xs-12 col-md-12 <!-- @echo class_footer_company_links_xs -->">
				<div class="btn-group-vertical">
					<a href="#" class="btn btn-default"><strong>Lern more</strong></a>
					<a href="#" class="btn btn-default">12 offer on-line</a>
				</div>
			</div>
		</div>
	</div>
	
	
</div>