<div class="<!-- @echo class_header_block -->">
	<div class="mp-content">
		<p class="mp-style-company-name">Salamon Company S.A.</p>
		<h1 class="mp-style-title">Senior Software Engineer</h1>
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p><span class="glyphicon glyphicon-map-marker"></span> Warsaw</p>
				<p><span class="glyphicon glyphicon-time"></span> Full Time</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p><span class="glyphicon glyphicon-briefcase"></span> Permanent contract, duration unspecified</p>
				<p><span class="glyphicon glyphicon-calendar"></span> Published 1 day ago</p>
			</div>
		</div>
	</div>
</div>