// _main.scss

body {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $font-stack;
}

.mp-container {
	background-color: $layout-secondary-color;
	color: $layout-primary-color;
	width: $layout-width;
}