<!DOCTYPE html>
<html>
    <head>
        <title>Profile page editor (static)</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        
        <!-- Theme view -->
        <link href="css/theme/view.css" rel="stylesheet">
    </head>
    <body>
        
        
        <script src="js/vendors/jquery-1.12.3.min.js"></script>
        <script src="js/vendors/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
