<!--=include partials/common/_head-start.html -->
<!--=include partials/editor/_head.html -->
<!--=include partials/common/_head-end.html -->

<!-- sources/editor.html -->
<div class="<!-- @echo class_brand_bottom_background -->"></div>

<div class="<!-- @echo class_main_editor_wrapper -->">
    <div class="container-fluid <!-- @echo class_main -->">
        <!--=include partials/common/_body.html -->
    </div>
</div>

<!--=include partials/editor/_footer.html -->
<!--=include partials/common/_footer.html -->