<div class="row <!-- @echo class_row_block --> <!-- @echo class_card_standard -->">

    <div class="col-md-6 <!-- @echo class_edit_flag --> <!-- @echo class_block_common --> <!-- @echo class_block_50prec -->">
        <h2 class="<!-- @echo class_block_title -->"><!-- @echo layout.layout_2_blocks.blocks_1.title --></h2>
        <div class="<!-- @echo class_block_content -->">
            <!-- @echo layout.layout_2_blocks.blocks_1.content -->
        </div>
    </div>

    <div class="col-md-6 <!-- @echo class_edit_flag --> <!-- @echo class_block_common --> <!-- @echo class_block_50prec -->">
        <h2 class="<!-- @echo class_block_title -->"><!-- @echo layout.layout_2_blocks.blocks_2.title --></h2>
        <div class="<!-- @echo class_block_content -->">
            <!-- @echo layout.layout_2_blocks.blocks_2.content -->
        </div>
    </div>
    
</div>