<div class="row <!-- @echo class_row_block --> <!-- @echo class_card_standard -->">

    <div class="col-md-12 <!-- @echo class_block_common --> <!-- @echo class_block_simple -->">
        <h2 class="<!-- @echo class_block_title --> <!-- @echo class_edit_flag -->"<!-- @echo layout.layout_1_block.blocks_1.attrs -->><!-- @echo layout.layout_1_block.blocks_1.title --></h2>
        <div class="<!-- @echo class_block_content --> <!-- @echo class_edit_flag -->"<!-- @echo layout.layout_1_block.blocks_1.attrs -->>
            <!-- @echo layout.layout_1_block.blocks_1.content -->
        </div>
    </div>
    
</div>