
<div class="row <!-- @echo class_row_block --> <!-- @echo class_card_standard -->">
    <div class="col-md-8 mp-block-2cell">
        
        <div class="col-md-12 <!-- @echo class_edit_flag --> <!-- @echo class_block_common --> <!-- @echo class_block_full -->">
            <h2 class="<!-- @echo class_block_title -->"><!-- @echo layout.layout_3_blocks.blocks_1.title --></h2>
            <div class="<!-- @echo class_block_content -->">
                <!-- @echo layout.layout_3_blocks.blocks_1.content -->
            </div>
        </div>
        
        
        <div class="col-md-12 <!-- @echo class_edit_flag --> <!-- @echo class_block_common --> <!-- @echo class_block_full -->">
            <h2 class="<!-- @echo class_block_title -->"><!-- @echo layout.layout_3_blocks.blocks_2.title --></h2>
            <div class="<!-- @echo class_block_content -->">
                <!-- @echo layout.layout_3_blocks.blocks_2.content -->
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4 <!-- @echo class_edit_flag --> <!-- @echo class_block_common --> <!-- @echo class_block_1cell -->">
        <h2 class="<!-- @echo class_block_title -->"><!-- @echo layout.layout_3_blocks.blocks_3.title --></h2>
        <div class="<!-- @echo class_block_content -->">
            <!-- @echo layout.layout_3_blocks.blocks_3.content -->
        </div>
    </div>
</div>