// _block-2cell.scss

.mp-block-50prec {
    background-color: #FFF;
    width: 50%;

    p, h1, h2, h3, h4, h5, h6, h7 {
        margin: 0px;
    }

    .mp-block-content {
        padding: 15px;
    }
}

@media screen and (max-width: 992px) {
    .mp-block-50prec {
        width: 100%
    }
}