// _block-simple.scss

.mp-block-simple {
    background-color: transparent;
    width: 100%;
    
    p, h1, h2, h3, h4, h5, h6, h7 {
        margin: 0px;
    }

    .mp-block-content {
        padding: 5px;
    }
}

