// _block-2cell.scss

.mp-block-50prec {
    background-color: transparent;
    width: 50%;
    padding: 5px 0px 5px 0px;

    p, h1, h2, h3, h4, h5, h6, h7 {
        margin: 0px;
    }

    .mp-block-content {
        padding: 5px;
    }
}

@media screen and (max-width: 992px) {
    .mp-block-50prec {
        width: 100%
    }
}