// _heroimage.scss

.mp-header-container {
    height: 250px;
    position: relative;
}

.mp-header-thubnail {
    position: absolute;
    bottom: -50px;
    left: 15px;
    z-index: 100;
}

.mp-header-block {
    height: 80px;
    background-color: transparent;
}

.mp-branding-head-background {
	width: 100%;
	height: 100%;
	background-color: #CCC;
}