// _heroimage.scss
.mp-default-branding {
	.mp-header-container {
	    height: 330px;
	    position: relative;
	}
	
	.mp-branding-bottom-background {
		height: 330px;
		background-color: #000;
		width: 100%;
		position: absolute;
	}
	
	//For Desktop
	@media screen and (min-width: 769px) {
		.mp-header-container {
			height: 330px;
		}
		
		.mp-branding-bottom-background {
			height: 330px;
		}
	}
	
	// For Tablet
	@media screen and (max-width: 768px) {
		.mp-header-container {
			height: 225px;
		}
		
		.mp-branding-bottom-background {
			height: 225px;
		}
	}
	
	// For mobile S & M & L
	@media screen and (max-width: 425px) {
		.mp-header-container {
			height: 135px;
		}
		
		.mp-branding-bottom-background {
			height: 135px;
		}
	}
	
	.mp-branding-head-background {
		width: 100%;
		height: 100%;
		background-color: #CCC;
	}
}

.mp-disabled-branding {
	.mp-header-container {
	    height: 100px;
	    position: relative;
	}

}

.mp-header-thubnail {
    position: absolute;
    bottom: -50px;
    left: 15px;
    z-index: 100;
}

.mp-header-block {
	padding-top: 40px;
    min-height: 180px;
    background-color: transparent;
}