// _main.scss

html, 
body, 
div, 
span,
p, 
h1, 
h2, 
h3, 
h5, 
h6 {
    font-family: $font-stack;
}

body {
	background-color: #F1F1F1;
}

.mp-content {
	padding-left: 15px;
	padding-right: 15px;
}

.mp-style-company-name {
	font-weight: bold;
	font-size: 14px;
	color: #4188ED;
	padding: 0px;
	margin: 0px;
}

.mp-style-title {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	font-size: 26px;
	font-weight: bold;
}